/* Grundlayout */
.MMM-Fyta .grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.MMM-Fyta div.fyta-title {
    font-size: 18px !important;
    color: white !important;
    font-weight: bold !important;
    text-align: center;
    //margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

/* Timestamp-Text für letzte Aktualisierung */
.MMM-Fyta .fyta-update-info {
    font-size: 14px;
    color: lightgray;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.MMM-Fyta .swimlane {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.MMM-Fyta .swimlane-name {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #333;
    margin-right: 20px; /* Abstand zwischen Nickname und Balken */
}

/* Balkengruppen */
.MMM-Fyta .bar-groups {
    display: flex;
    flex: 4;
    justify-content: space-around;
   /* align-items: flex-start; */
    column-gap: 20px; /* Abstand zwischen den Balkengruppen */
}

/* Balkencontainer */
.MMM-Fyta .bar-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4px;
}

/* Balken */
.MMM-Fyta .bar {
    width: 20px;
    height: 8px;
    border-radius: 3px;
    background-color: gray; /* Standardfarbe */
}

/* Balkenfarben (Status) */
.MMM-Fyta .bar.red {
    background-color: #dc3545;
}

.MMM-Fyta .bar.orange {
    background-color: #ffc107;
}

.MMM-Fyta .bar.green {
    background-color: #28a745;
}

/* Icon über den Balken */
.MMM-Fyta .legend-icon {
    text-align: center;
    margin-top: 10px;
}

.MMM-Fyta .legend-icon i {
    font-size: 20px;
    color: white;
}

/* Zusätzliche Stile für Responsivität */
@media screen and (max-width: 600px) {
    .MMM-Fyta .swimlane {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .MMM-Fyta .bar-groups {
        justify-content: flex-start;
        gap: 15px;
    }

    .MMM-Fyta .legend-icon i {
        font-size: 18px;
    }

    .MMM-Fyta .bar {
        width: 18px;
        height: 18px;
    }
}
